*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
  background-color: #F3F4BC;
  overflow-x: hidden;
  width: 100%;
}
h2{
    color: #1E5128;
}
.menu-bar{
 
    height: 2cm;
    display: flex;
    width: 100%;
    background-color: rgb(30, 82, 41,0.2); 
    z-index: 2;
    width: 100%;

}

.fixed {
  position:fixed;
}

.img{
  margin-top: 10px;
  margin-left: 5px;
}
form {
   display: flex;
    width: 20%;
    margin-top: 3%;
    right: 0;
    margin-bottom:0.1cm ;
}
.imgsearch {
  
  margin-right: 10px;
  margin-bottom:0.1cm ;
}

input{
    color: white;
    width: 180px;
    height: 80%;
    border-radius: 4cm;
    background-color: rgb(77, 75, 7,0.4);
}

.imgpanier{margin-top: 18px;}
.imglogin{margin-top: 45px;margin-right: 5px;}

.menu-bar ul {
    display: flex;
    width: 60%;
    color: #E5E5E5;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
    margin-left: 5cm;
}

.menu-bar ul li {
  margin-right: 50px;  
}


.menu-bar ul li a {
    text-decoration: none;
    color: #ffffff;
   
    font-family: 'Trebuchet MS', sans-serif;
}


.menu-bar ul li a:hover {
  background-color: #b68f03;
  color: #1E5128;
  font-weight: 900;
  padding-top: 20px;
  padding-left:10px;
  padding-right:10px ;
  padding-bottom:20px;
  
 }



.container {
    width:100%;
  

  }
.imacc {
  height: 17.4cm;
  width: 100%;
  position: relative;
  background-image: url(../img/accueil.jpg);
  background-repeat: no-repeat;
  background-size:cover;



  }
.imacc p {
  position: absolute;
  width: 56%;
  margin-top: 340px;
  margin-left: 25%;
  margin-right: 20%;
  font-weight:500;
  font-size: 80px;
  border-radius: 10cm;
  padding-left: 30px;
  background-color:rgb(30, 82, 41, 0.9);
  color: #fff;
  
 
}

.offres{
  padding: 2% 10px;
  display: flex;
  justify-content: space-between;
}
.offres div{
  margin: auto 0;
  height: 3px;
  width: 30%;
  border-top: solid 2px black;
}
.offres p{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  } */
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 40%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px; 
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    
  }
  
  #carousel__slide1 {
    background-image:url("../img/verdate.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #DBEAAC;
  }
  #carousel__slide1 a>div {
    width: 100%;
    height: 100%;
  }
  #carousel__slide2 a>div {
    width: 100%;
    height: 100%;
  }
  #carousel__slide3 a>div {
    width: 100%;
    height: 100%;
  }
  #carousel__slide2 {
    background-image:url(../img/rouge.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #E9DCA9;
  }
  #carousel__slide3 {
    background-image:url("../img/bios.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #E5EAA3;
  }

  
  .carousel__slide:before {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }

  /* .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
   */
 
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 17.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(33, 80, 1);
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    opacity: 0.2;
  }
  
  .carousel::after {
    opacity: 0.4;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  .produit{margin-bottom: 2cm; }
.phraseg{
  position: relative;
  width: 40%;
  height: 70%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 141px;
  text-transform: uppercase;
}
.contimg {
display: flex;
}
.phraseg p{
  font-weight: bold;
  color: #1E5128;

}

.buttonprod{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 11px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 620px;
  position: absolute;
  right:0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.produit button:hover {
  background-color:#b68f03;
  color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background-color: #F3F4BC;
  padding: 10px;
  height: 20cm;
  margin-bottom: 0.5cm;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px 10px 10px 10px;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}
#i1{
  background-image: url('img/tomates.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  
}
#i2{
  background-image: url('../img/herbes.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
#i3{
  background-image: url('../img/pommes.jpeg');
  background-repeat: no-repeat;
  position: center;
  background-size:cover;
}
#i4{
  background-image: url('../img/frouges.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.overlay {
  bottom: 0;
  background: rgba(85, 79, 29, 0.5);
  transition: .5s ease;
  opacity:0;
  color: rgb(240, 240, 240);
  font-size: 40px;
  padding: 50px;
  margin-top: 35px;
  text-align: center;

}

.grid-item:hover .overlay {
  opacity: 1;
}
/*********************/

footer {

  width: 100%;
  height:100%;
  background-color:#1E5128;
  display: flex;
  margin-bottom: -50px;
}


.eltfooter {
  width: 50%;
  margin-top: 1%;
  margin-right: 20%;
  position: relative;


}

.speltfooter {
  margin-top: 1.6cm;
  position: absolute;
  font-size: 1em;
  color: white;
  width: 100%;
}
#spphone {
  margin-top: 0.8cm;
  position: absolute;
  font-size: 1em;
  font-weight: light;
  color: white;
}
#spmail {
  margin-top: 1.5cm;
  position: absolute;
  font-size: 1em;
  font-weight: light;
  color: white;}

/*---------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
 
  .menu-bar ul li {
    margin-right: 5px;  
    
  }
  .menu-bar ul {
    margin-left: 0.5cm;
}
.imacc p {
  width: 60%;
  font-weight:500;
  font-size: 25px;
  border-radius: 10cm;
  padding-right: 50px;
  background-color:rgb(30, 82, 41, 0.9);
  color: #fff;
  
}
.overlay {
  font-size: 20px;
  padding: 20px;
}
.eltfooter{
  width: 5%;
 
}
.speltfooter{ position: absolute;}
footer{height:300px ;}

}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu-bar ul li {
    margin-right: 5px;  
    
  }
  .menu-bar ul {
    margin-left: 0.5cm;
}
.imacc p {
  width: 65%;
  font-weight:500;
  font-size: 50px;
  border-radius: 10cm;
  padding-right: 50px;
  background-color:rgb(30, 82, 41, 0.9);
  color: #fff;
  
}
.overlay {
  font-size: 25px;
  padding: 50px;
}
.eltfooter{
  width: 5%;
 
}
.speltfooter{ position: absolute;}
footer{height:300px ;}


}
@media screen and (min-width: 1024px) and (max-width:1299px)  {
  .menu-bar ul li {
    margin-right: 20px;  
    
  }
  .menu-bar ul {
    margin-left: 2cm;
}
.imacc p {
  width: 45%;
  font-weight:500;
  font-size: 50px;
  border-radius: 10cm;
  padding-right: 10px;
  background-color:rgb(30, 82, 41, 0.9);
  color: #fff;
  
}
.overlay {
  font-size: 25px;
  padding: 50px;
}
.eltfooter{
  width: 5%;
 
}
.speltfooter{ position: absolute;}
footer{height:300px ;}
}
